**Analisar Despesas por Categoria e Ano**

Objetivo: Solicitar ao usuário que insira uma categoria de despesa e um ano. Verificar se existem registros para a categoria e ano especificados e exibir o total de despesas. Repetir o processo até que o usuário insira "sair".

Descrição:

Solicite ao usuário que insira o nome de uma categoria de despesa (Energia, Internet, etc.).

Solicite ao usuário que insira um ano especifico.

Use um laço while para repetir o processo até que o usuário insira "sair" para a categoria.

Use condicionais para verificar se existem despesas correspondentes para a categoría e ano fornecidos, e exiba o total das despesas.

Digite o tipo de despesa que deseja filtrar (ou 'sair' para encerrar): Energia Digite o ano que deseja filtrar (ex.: 2023) 2022

Total de despesas para Energia' no ano 20221 R$ 9273.24

Digite o tipo de despesa que deseja filtrar (ou 'sair" para encerrar): sair Programa encerrado.

In [ ]:
import pandas as pd

In [23]:
df = pd.read_csv('dados_despesa.csv')
df.head()

    ano       mes     despesa  valor_despesa
0  2024  Setembro   Materiais        4843.13
1  2024     Julho    Internet        2413.27
2  2022    Agosto     Energia        4617.55
3  2021     Março     Energia        1538.28
4  2023      Maio  Manutenção        3087.44

In [24]:
print(df['despesa'].unique())
print(df['ano'].unique())

['Materiais' 'Internet' 'Energia' 'Manutenção' 'Combustível' 'Aluguel'
 'Salários' 'Água' 'Telefone' 'Marketing']
[2024 2022 2021 2023 2020]

In [11]:
while True:
    categoria = input('Digite o tipo de despesa (ou "sair" para encerrar): ').strip()
    
    if categoria.lower() == 'sair':
        print('FIM')
        break
    ano = input('Filtre o ano: ').strip()
    
    ano_filtro = int(ano)
    
    filtro = (df['despesa'] == categoria) & (df['ano'] == ano_filtro)

    if filtro.any():
        total = df.loc[filtro, 'valor_despesa'].sum()
        print(f'\n Total de despesas para {categoria} em {ano_filtro}: R$ {total}')
    else:
        print(f'\n Nenhum registro encontrado para {categoria} no ano {ano_filtro}.')

 Total de despesas para Materiais em 2023: R$ 8317.55
FIM