In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('dados_despesa.csv')

In [9]:
df.head()

    ano       mes     despesa  valor_despesa
0  2024  Setembro   Materiais        4843.13
1  2024     Julho    Internet        2413.27
2  2022    Agosto     Energia        4617.55
3  2021     Março     Energia        1538.28
4  2023      Maio  Manutenção        3087.44

In [22]:
ano_especifico = int(input("Digite o ano para calcular a média das despesas:"))
despesas_ano = df[df['ano'] == ano_especifico]
media_despesas = despesas_ano['valor_despesa'].mean()

print(f'A média das despesas em {ano_especifico} é: R$ {media_despesas:.2f}')

A média das despesas em 2022 é: R$ 2797.42

In [26]:
valor_limite = float(input('Digite um valor limite para as despesas: '))
despesas_acima_limite = df[df['valor_despesa']> valor_limite]

print(f'Despesas acima de R$ {valor_limite:.2f}')
print(despesas_acima_limite)

Despesas acima de R$ 4600.00
     ano       mes    despesa  valor_despesa
0   2024  Setembro  Materiais        4843.13
2   2022    Agosto    Energia        4617.55
11  2023  Setembro  Materiais        4865.84
36  2020   Outubro   Telefone        4951.24
37  2020  Dezembro   Internet        4602.65
40  2022     Julho  Marketing        4936.83
42  2020      Maio   Telefone        4816.80

In [27]:
ano1 = int(input('Digite o primeiro ano para a comparação: '))
ano2 = int(input('Digite o segundo ano para a comparação: '))

total_ano1 = df[df['ano'] == ano1]['valor_despesa'].sum()
total_ano2 = df[df['ano'] == ano2]['valor_despesa'].sum()

print(f'Total de despesas em {ano1}: R${total_ano1:.2f}')
print(f'Total de despesas em {ano2}: R${total_ano2:.2f}')

if total_ano1 > total_ano2:
    print(f'O ano {ano} teve maior despesa.')
elif total_ano2 > total_ano1:
    print(f'O ano {ano2} teve maior despesa')
else: 
    print(f'Os dois anos tiveram o mesmo total de despesas')

Total de despesas em 2021: R$15408.75
Total de despesas em 2022: R$36366.46
O ano 2022 teve maior despesa